body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  /* background-color: rgb(232, 240, 254); */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid #ebebeb;
  width: 356px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04);
  padding: 24px;
  margin: auto;
  margin-top: 10%;
}
.innerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  color: #16191c;
  margin-top: 12px;
}

.userName {
  display: flex;
  flex-direction: column;
  margin: 24px auto 0;
  width: unset;
}

.pwd {
  display: flex;
  flex-direction: column;
  margin: 24px auto 0;
  width: unset;
}

.btn {
  display: flex;
  flex-direction: row;
}
.reviewBtn {
  margin: 24px auto 0;
  width: unset;
  padding: 11px 24px 10px;
  font-size: 14px;
  line-height: 17px;
  width: auto;
  background-color: #fffc00;
  color: #16191c;
  font-weight: 500;
  display: block;
  border-radius: 15px;
}

.back {
  margin-top: 10px;
  margin-left: 47%;
}

.links {
  text-decoration: none;
  color: black;
}
